<div class="pagination">
    <!-- first page -->
    <% if(currentPage!==1 && currentPage!==2){%>
            <a href="/csv-data/<%=id%>?start=1">1</a>
    <%} %>
    <!-- dots -->
    <% if(currentPage >= 4){%>
        <span>..</span>
    <%} %>
    <!-- previous page -->
    <% if(currentPage!=1){%>
        <a href="/csv-data/<%=id%>?start=<%=currentPage-1%>"><%=currentPage-1%></a>
    <%} %>
    <!-- current page -->
    <span class="active"><%= currentPage %></span>
    <!-- next page -->
    <% if(currentPage!==totalPages){%>
        <a href="/csv-data/<%=id%>?start=<%=currentPage+1%>"><%=currentPage+1%></a>
    <%} %>
    <!-- dots -->
    <% if(currentPage+3<=totalPages){%>
        <span>..</span>
    <%} %>
    <!-- last page -->
    <% if(currentPage!=totalPages && currentPage!=totalPages-1){%>
        <a href="/csv-data/<%=id%>?start=<%=totalPages%>"><%=totalPages%></a>
    <%} %>

</div>