
<html>
    <head>
        <title>csv</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/csv-display.css">

        <script src="/js/csv-display.js" defer></script>
    </head>
    <body>

        <%- include('partials/navbar.ejs')  %>

        <main>
            <!-- search -->
            <div class="search-wrapper">
                <form action="/csv-data/<%= id %>" >
                    <input type="text" name="searchText" >
                    <button type="submit">
                        <img src="/images/search-file.svg" alt="search icon">
                    </button>
                </form>
            </div>

            <!-- csv display -->
            <div class="csv-data-wrapper">
                <table>
                    <tr>
                        <% headers.forEach((header)=>{%>
                            <th>
                                <%= header  %>
                            </th>
                        <%}) %>
                    </tr>
                  
                    <% records.forEach((record)=>{%>
                        <tr>
                        <% headers.forEach((header)=>{%>
                            <td>
                                <%= record[header]   %>
                            </td>
                        <%}) %>
                    </tr>

                    <%}) %>
                  
                </table>

            </div>
           <!-- pagination -->
            <%- include('partials/pagination.ejs') %>
        </main>

        <%- include('partials/footer.ejs')  %>
        
    </body>
</html>


